@import "tailwindcss";

/* Estilização customizada do scrollbar */

/* Para Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #364153 transparent;
}

/* Para Chrome, Safari e Edge */
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #364153;
  border-radius: 3px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #4B5563;
}

/* Suavizar transições */
* {
  scroll-behavior: smooth;
}